.container {
    margin-top: 100px
}

.counter-box {
    display: block;
    background: #f6f6f6;
    padding: 40px 20px 37px;
    text-align: center;
    background: #3acf87
}


.counter-box p {
    margin: 5px 0 0;
    padding: 0;
    color: #909090;
    font-size: 18px;
    font-weight: 500
}
.four
{
    margin-bottom:20px;
}

.counter-box i {
    font-size: 60px;
    margin: 0 0 15px;
    color: #d2d2d2
}
a{
    text-decoration: none
}
.counter {
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: #666;
    line-height: 28px
}

.counter-box.colored:hover{
    background: rgba(54, 54, 180, 0.753) !important;
}
.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
    color: #fff
}